<div class="navbar ">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link "> <i class="f7-icons icon-header-arrow-back"></i></a>             
        </div>
        <div class="center sliding">{{AssetName}}</div>            
    </div>
</div>    

<div class="pages">
    <div class="page asset_status_page" data-page="asset.status.message">
    <div class="page-content">
        <input type="hidden" name="Acc" value="{{Acc}}">
        <input type="hidden" name="Relay" value="{{Relay}}">
        <input type="hidden" name="Charger" value="{{Charger}}">
        <input type="hidden" name="Battery" value="{{Battery}}">
        <input type="hidden" name="Power" value="{{Power}}">
        <input type="hidden" name="GPS" value="{{GPS}}">
        <input type="hidden" name="GSM" value="{{GSM}}">
        <input type="hidden" name="GPRS" value="{{GPRS}}">
        <input type="hidden" name="Direction" value="{{Direction}}" data-number="{{DirectionNumber}}">
        <input type="hidden" name="GPRS" value="{{GPRS}}">
        <input type="hidden" name="EngineHours" value="{{EngineHours}}">
        <input type="hidden" name="Mileage" value="{{Mileage}}">


        {{#if AssetImg}}
        <div class="asset-top">   
            <div class="asset-top-img" style=""><img src="{{AssetImg}}" class="item_asset_img" alt=""></div>
            <!-- <div class="asset-top-img">
                {{AssetImg}}
            </div> -->
        </div>
        {{/if}} 

        <div class="content-block status_block_top text-a-c">
            <div class="row no-gutter">
                <div class="col-33">                    
                    <i class="f7-icons icon-other-status-date color-dealer"></i>
                    <p class="fs-16"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG00}}</b></p>  
                    <p class="fs-12 color-dealer">{{CreateDateTime}}</p>
                </div>                
                <div class="col-33 open-direction">                    
                    <i class="f7-icons icon-other-data-direction  color-dealer"></i>
                    <p class="fs-16"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG01}}</b></p>  
                    <p class="fs-12 color-dealer">{{Direction}}({{DirectionNumber}})</p>
                    
                </div> 
                <div class="col-33 open-mileage">                    
                    <i class="f7-icons icon-other-status-mileage  color-dealer"></i>
                    <p class="fs-16"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG10}}</b></p>  
                    <p class="fs-12 color-dealer">{{Mileage}}</p>                    
                </div>               
            </div>
        </div>

        <div class="list-block  status_block_list">                
            <ul class="row no-gutter">
                <div class="col-100">
                    <li class="item-content">
                        <div class="item-media"><i class="f7-icons icon-other-status-imei color-dealer"></i></div>
                        <div class="item-inner">                     
                            <div class="item-text ">
                                <div class="row">
                                    <div class="col-30">IMEI:</div><div class="col-70 color-dealer">{{Imei}}</div>      
                                    <div class="col-30">IMSI:</div><div class="col-70 color-dealer">{{Imsi}}</div>
                                </div>
                                
                            </div>                     
                        </div>
                    </li>
                </div>
                {{#if Acc}} 
                <div class="col-50">
                    <li class="item-content open-acc {{#if AccGreen}}color-green{{else}}color-red{{/if}} " >
                        <div class="item-media"><i class="f7-icons icon-other-status-acc2"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title">                               
                                {{Acc}}      
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}}  
                {{#if Relay}}        
                <div class="col-50">           
                    <li class="item-content open-relay">
                        <div class="item-media"><i class="f7-icons icon-other-status-relay color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title ">
                                {{Relay}}                           
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}} 
                
                {{#if Charger}}
                <div class="col-50">
                    <li class="item-content open-charger">
                        <div class="item-media"><i class="f7-icons icon-other-status-voltage2 color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title ">
                                {{Charger}}                        
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}} 
                {{#if Battery}}   
                <div class="col-50">                 
                    <li class="item-content open-battery">
                        <div class="item-media"><i class="f7-icons icon-other-data-battery-level color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title ">
                                {{Battery}}                        
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}}    
                {{#if Power}}   
                <div class="col-50">                 
                    <li class="item-content open-power">
                        <div class="item-media"><i class="f7-icons icon-other-status-power color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title ">
                                {{Power}}                   
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}}               
                {{#if GPS}}      
                <div class="col-50">              
                    <li class="item-content open-gps">
                        <div class="item-media"><i class="f7-icons icon-other-status-satellite2 color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title ">
                                {{GPS}}                   
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}}     
                {{#if GSM}}   
                <div class="col-50">                 
                    <li class="item-content open-gsm">
                        <div class="item-media"><i class="f7-icons icon-other-status-tower color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title ">
                                {{GSM}}                     
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}}    
                {{#if GPRS}}   
                <div class="col-50">                 
                    <li class="item-content open-gprs">
                        <div class="item-media"><i class="f7-icons icon-other-status-signal2 color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title ">
                                {{GPRS}}                     
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}}   
                <!-- {{#if Direction}}   
                <div class="col-50">                 
                    <li class="item-content open-direction">
                        <div class="item-media"><i class="f7-icons icon-other-data-direction color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title ">
                                {{Direction}}                     
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}}                 
                {{#if Mileage}} 
                <div class="col-50">
                    <li class="item-content open-mileage " >
                        <div class="item-media"><i class="f7-icons icon-other-status-mileage color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title">                               
                                {{Mileage}}      
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}} -->        
                {{#if EngineHours}} 
                <div class="col-50">
                    <li class="item-content open-engineHours " >
                        <div class="item-media"><i class="f7-icons icon-other-status-engine-hours color-dealer"></i></div>
                        <div class="item-inner">                        
                            <div class="item-title">                               
                                {{EngineHours}}      
                            </div>                                          
                        </div>
                    </li>
                </div>
                {{/if}}  

                
            </ul> 
                     
        </div>  
        <div class="content-block">
            <div class="button button-green fs-18 request_status_button requestStatus">
                {{@global.LANGUAGE.ASSET_STATUS_MSG41}}
            </div>
        </div>      
    </div>
    
</div>
</div>


