@charset "UTF-8";

@font-face {
  font-family: "quikloc8";
  src:url("fonts/quikloc8.eot");
  src:url("fonts/quikloc8.eot?#iefix") format("embedded-opentype"),
    url("fonts/quikloc8.woff") format("woff"),
    url("fonts/quikloc8.ttf") format("truetype"),
    url("fonts/quikloc8.svg#quikloc8") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "quikloc8" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "quikloc8" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asset-details-add-image:before {
  content: "\61";
}
.icon-asset-details-attributes:before {
  content: "\62";
}
.icon-asset-details-mileage:before {
  content: "\63";
}
.icon-asset-details-unit:before {
  content: "\64";
}
.icon-header-alarm:before {
  content: "\65";
}
.icon-header-apply:before {
  content: "\66";
}
.icon-header-arrow-back:before {
  content: "\67";
}
.icon-header-delete:before {
  content: "\68";
}
.icon-header-menu:before {
  content: "\69";
}
.icon-header-settings:before {
  content: "\6a";
}
.icon-location-address2:before {
  content: "\6b";
}
.icon-location-close:before {
  content: "\6c";
}
.icon-location-maps:before {
  content: "\6d";
}
.icon-location-pin-map:before {
  content: "\6e";
}
.icon-location-refresh:before {
  content: "\6f";
}
.icon-menu-home:before {
  content: "\70";
}
.icon-menu-logout:before {
  content: "\71";
}
.icon-menu-profile:before {
  content: "\72";
}
.icon-menu-recharge-credit:before {
  content: "\73";
}
.icon-menu-support:before {
  content: "\74";
}
.icon-other-asset-alarm2:before {
  content: "\75";
}
.icon-other-asset-geolock:before {
  content: "\76";
}
.icon-other-asset-immobilisation:before {
  content: "\77";
}
.icon-other-asset-position:before {
  content: "\78";
}
.icon-other-asset-status:before {
  content: "\79";
}
.icon-other-asset-tracking-interval:before {
  content: "\7a";
}
.icon-other-data-acc:before {
  content: "\41";
}
.icon-other-data-address:before {
  content: "\42";
}
.icon-other-data-battery:before {
  content: "\43";
}
.icon-other-data-battery-level:before {
  content: "\44";
}
.icon-other-data-direction:before {
  content: "\45";
}
.icon-other-data-fuel:before {
  content: "\46";
}
.icon-other-data-id:before {
  content: "\47";
}
.icon-other-data-speed:before {
  content: "\48";
}
.icon-other-data-temperature:before {
  content: "\49";
}
.icon-other-data-voltag:before {
  content: "\4a";
}
.icon-other-dot:before {
  content: "\4b";
}
.icon-other-profile-address:before {
  content: "\4c";
}
.icon-other-profile-email:before {
  content: "\4d";
}
.icon-other-profile-name:before {
  content: "\4e";
}
.icon-other-profile-password:before {
  content: "\4f";
}
.icon-other-profile-phone:before {
  content: "\50";
}
.icon-other-profile-phone2:before {
  content: "\51";
}
.icon-other-satellite:before {
  content: "\52";
}
.icon-other-signal:before {
  content: "\53";
}
.icon-other-status-acc2:before {
  content: "\54";
}
.icon-other-status-battery2:before {
  content: "\55";
}
.icon-other-status-date:before {
  content: "\56";
}
.icon-other-status-engine-hours:before {
  content: "\57";
}
.icon-other-status-imei:before {
  content: "\58";
}
.icon-other-status-mileage:before {
  content: "\59";
}
.icon-other-status-power:before {
  content: "\5a";
}
.icon-other-status-relay:before {
  content: "\30";
}
.icon-other-status-satellite2:before {
  content: "\31";
}
.icon-other-status-signal2:before {
  content: "\32";
}
.icon-other-status-speed:before {
  content: "\33";
}
.icon-other-status-tower:before {
  content: "\34";
}
.icon-other-status-voltage2:before {
  content: "\35";
}
.icon-password-eye:before {
  content: "\36";
}
